# Flask config
FLASK_SECRET_KEY=your-secret-key

# MongoDB 
MONGO_URI=mongodb+srv://a_user:your_mongo_password@genomics.njtfiec.mongodb.net/?retryWrites=true&w=majority&appName=genomics
MONGO_DB=gen_admins
MONGO_COLLECTION=admins

# MySQL 
MYSQL_HOST=localhost
MYSQL_USER=youser
MYSQL_PASSWORD=haslo
MYSQL_DATABASE=genomics

# file upload
UPLOAD_FOLDER=upload

# Długośc sesji w minutach
SESSION_LIFETIME_MINUTES=15
